.Villager {
  display: inline-flex;
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.player-1 {
  margin: 3rem;
}

.player-2 {
  margin: 3rem;
}

.result {
  text-align: center;
}
